{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/loginpage.css" %}">

</head>
<body>
<div class="box">
<h1>Welcome</h1>
<h2>Please Input Login Details</h2>
    <form action="" method="post" id="demo-form">
        {% csrf_token %}
    <div class="header-1">
    <input type="email" id="email" name="email" placeholder="Username">
{#        {{ form.email }}#}
    <br>
    <input type="password" id="password" name="password" placeholder="Password">
{#        {{ form.password }}#}
    </div>
    <div class="button-1">
    <button type="submit" class="btn btn-primary">Login</button>
    <br>
        <button type="Link" class="btn btn-link">Reset Password</button>
        <a href="{%  %}">RESET PASSWORD</a>
        <br>
    <button type="Link" class="btn btn-link">Sign Up as Student</button>
    </div>

    </form>
</div>

</body>
</html>